body {
    margin: 0px;
    padding: 0px;
    width: 100%;
}
section {
  width: 100%;
  background-color: #3B4252;
}

.flexrow {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
  }
  .flexrow article {
    width: 40%;
    margin: 20px;
    cursor: pointer;
  }
  .flexrow img {
    width: 300px;
  }

  .hidden {
    display: none!important;
  }

.article {
    width: 400px;
    display: inline-block;
    margin: 20px;
    padding: 20px;
    background-color: #ECEFF4;
    border-radius: 30px;
    text-align: center;
    box-shadow: 5px 5px 5px #333;

  }

.article img {
  width: 90%;
  border-radius: 300px;
}
.profil1{
  display: flex;
  position: fixed;
  top: -60vh;
  left: calc(50% - 200px);
  z-index: 3;
  width: 400px;
}
#message1{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #EBEBEB;
  border-radius: 20px;
}
#ok{
  background-color: cornflowerblue;
  border-radius: 20px;
  width: 100px;
  padding: 20px 60px;
  text-align: center;
  margin-bottom: 20px;

}